body {
	margin: 0;
	padding: 0;
}

.top-container {
	width: 100%;
	height: 60vh;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.search-container {
	width: 50%;
	position: relative;
	z-index: 20; /* Ensure it is above the Shahada image */
	display: flex;
	justify-content: center;
	margin-top: 10%; /* Adjust as needed */
}

.search-container .search-bar {
	border: 2px solid white;
	width: 100%;
	box-sizing: border-box;
	background-color: white;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.search-container .search-bar span {
	font-size: 20px;
	position: absolute;
	left: 10px; /* Adjust as needed for padding */
}

.search-container input[type="search"] {
	width: calc(100% - 20px); /* Adjust based on the span's width + padding */
	padding: 10px;
	font-size: 17px;
	border: none;
	outline: none;
	box-sizing: border-box;
	border-radius: 15px;
	margin-left: 35px; /* Adjust based on the span's width + padding */
}

.shahada-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	top: -20%;
}

.shahada-overlay img {
	width: 800px;
	height: 570px;
}

.background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(25%);
	z-index: 5;
}
